h2{
    border-style: solid;
    border-width: thick;
    background-color: lightskyblue;
}
p{
    border-style: solid;
    border-width: medium;
    background-color: lightskyblue;
}
div{
    border-style: solid;
    border-width: thin;
    background-color: lightskyblue;
}